<div class="content" ng-if="brewery">
    <div class="grid table fluid-768 brewery-info">
        <div class="sw-5">
            <picture>
                <source ng-srcset="{{ brewery.images.squareLarge }}"  media="(min-width: 769px)">
                <source ng-srcset="{{ brewery.images.squareMedium }}"  media="(max-width: 768px)">
                <img ng-src="{{ brewery.images.squareLarge }}" alt="{{ brewery.nameShortDisplay }}">
            </picture>
        </div>
        <div class="sw-7">
            <h1 ng-bind="brewery.name"></h1>

            <p ng-bind-html="brewery.description|newline"></p>

            <section class="additional-info">
                <dl class="grid table" ng-if="brewery.established">
                    <dt class="sw-6">Established</dt>
                    <dd class="sw-6" ng-bind="brewery.established">}</dd>
                </dl>

                <dl class="grid table" ng-if="brewery.website">
                    <dt class="sw-6">Website</dt>
                    <dd class="sw-6">
                        <a ng-href="{{ brewery.website }}"
                           target="_blank"
                           class="a-inherit"
                           ng-bind="brewery.website">
                        </a>
                    </dd>
                </dl>
            </section>
        </div>
    </div>
    <div class="beers-list">
        <h2>Year Round Beers</h2>
        <div class="list">
            <a ng-repeat="beer in beers"
               ng-if="beer.availableId == 1"
               ng-href="#/brewery/{{ breweryName }}/beer/{{ beer.id }}"
               class="beer-list-item">
                <div class="thumbnail">
                    <img ng-class="{'no-photo': !beer.labels.medium }"
                         ng-src="{{ beer.labels.medium || brewery.images.squareMedium }}"
                         alt="">
                </div>
                <h2 ng-bind="beer.name"></h2>
            </a>
        </div>
    </div>
</div>